@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

.desk {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    column-gap: 20px;
    row-gap: 60px;
    padding: 10px;
    justify-content: center;
}

.card {
    position: relative;
    height: 400px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.fill {
    width: 100%;
    height: 100%;
}

.buttons {
    position: absolute;
    right: 10px;
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal normal bold 32px/39px Montserrat;
    user-select: none;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
}

.color {
    font: normal normal bold 32px/39px Montserrat;
    padding: 10px;
}